{% extends "admin/base.html" %}

{% block content %}
    <p>Please, confirm that <strong>{{ amount }} {{ currency }}</strong> was refunded using details
        described below:</p>
    <table>
        <tbody>
        <tr>
            <td>Card backend</td>
            <td>{{ backend|title }}</td>
        </tr>
        <tr>
            <td>Transaction:</td>
            <td>{{ charge_id }}</td>
        </tr>
        </tbody>
    </table>
    <form method="post">{% csrf_token %}
        <div>
            <input type="hidden" name="confirm" value="yes">
            <input type="submit" value="Yes, I'm sure">
            <a href="{{ back_url }}" class="button">No, take me back</a>
        </div>
    </form>
{% endblock %}
